/* VARIABLES */
:root{
    --light-background: #f2ece4;
    --light-text: #036;
    --main-text-color : #fff; 
    --main-bg-color : #fff;
    --main-font-size : 16px;
    --main-font-weight : 400;
    --main-line-height : 1.5; 
  }